body {
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/background.jpg");
}

h1 {
	font-family: Copperplate, sans-serif;
	font-weight: bold;
	font-size: 90px;
	text-align: center;
	color: white;
	padding-top: 20px;
}

.btn-group{
	display: inline;
	position: absolute;
    top: 10px;
    right: 10px;
}

h2 {
	font-family: Copperplate, sans-serif;
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	color: white;
}
/*
.checkbox-icon{
	display: none;
}

.checkbox-icon:checked{
	background-color: #acacaa;
}
*/
.dropdown-menu li{
	padding-left: 10px;
}

#title{
	background-color: blue;
}

.jumbotron{
	background: rgba(168, 168, 168, 0.6);
	padding-left: 40px;
	padding-right: 40px;
	position: fixed;
}

.img-rounded{
	border: 10px solid #252525;
}

.center {
	width: 100%;
	height: 100%;
   display: block;
    margin-left: auto;
    margin-right: auto
}

#wouldmeechum{
	float: left;
}

#hellno{
	float: right;
}

.btn-gigantic {
	height:100%;
    font-size: 40px;
}

.pad-top{
	padding-top: 10px;
}